* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active-player-style {
  margin: 20px 0;
}

.btn-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
}

.board-cell {
  height: 120px;
  width: 120px;
  border: 1px solid black;
}

.hide-start-game {
  display: none;
}

.hide-main-section {
  display: none;
}

.intro-section-intro-1-hidden {
  display: none;
}
.intro-section-intro-2-hidden {
  display: none;
}
.intro-section-intro-3-hidden {
  display: none;
}
.intro-section-intro-4-hidden {
  display: none;
}
.intro-section-intro-5-hidden {
  display: none;
}
.intro-section-intro-6-hidden {
  display: none;
}
.intro-section-intro-7-hidden {
  display: none;
}
.intro-section-intro-8-hidden {
  display: none;
}
.intro-section-intro-9-hidden {
  display: none;
}
.play-game-btn-hidden {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
